{% extends "main.html" %}

{% block body %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Software</h1>
    <p class="lead">Support me by purchasing my software</p>
</div>

<div class="container">
    <div class="card-columns mb-3 text-center">
        {% for product in _p.query.all() %}
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my=0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">${{ product.price / 100 }}</h1>
                <p class="card-text">{{ product.snippet }}</p>
                <a href="/product/{{ product.id }}" class="btn btn-lg btn-raised btn-primary">More Info</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

