<!DOCTYPE html>
<!--
    Copyright 2018 {{ _c("Name") }}
    Site generated using TrainFishShop

    Rendered on {{ _d }}
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shring-to-fit=no">

        {% block title %}
        <title>{{ _c("Name") }}</title>
        {% endblock %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>

        {% block navbar %}
        <div class="navbar navbar-expand-md navbar-dark bg-dark">
            <h5 class="navbar-brand">{{ _c("Name") }}</h5>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ "active" if request.path == "/" else "" }}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {{ "active" if request.path == "/account" else "" }}">
                    <a class="nav-link" href="/account">Account</a>
                </li>
            </ul>
            {% if _u.is_authenticated %}
            <a class="btn btn-raised btn-danger" href="/logout">Logout</a>
            {% else %}
            <a class="btn btn-raised btn-primary" href="/login">Login with GitHub</a>
            {% endif %}
        </div>
        {% endblock %}

        {% block flashes %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block scripts %}{% endblock %}
	</body>
</html>
